#title {
  background-color: #f7ede2;
  z-index: 1;
  position: relative;
}
body {
  font-family: 'quicksand', sans-serif;
}

.container-fluid {
  padding: 3% 15%;
}

h1 {
  font-family: 'quicksand',sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

h2 {
  font-family: 'inconsolata', sans-serif;
  font-size: 1.5;
  font-weight: bold;
  color: #7d6757;
}

h3 {
  font-family: 'quicksand';
  font-weight: bold;
}

p {
  color: #aa9d94;
}

/* Navigation Bar */
.navbar-brand {
  font-family: 'inconsolata', sans-serif;
  font-size: 2.5rem;
}
.navbar {
  padding-bottom: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
font-family: 'quicksand', sans-serif;
font-size: 1.2rem;
}

/* download buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  transform: rotate(30deg);
  width: 60%;
  z-index: 2;
  position: absolute;
}

/* features section */
#features {
  padding: 7% 15%;
  background-color: #fff;
  z-index: 3;
  position: relative;
}
.feature-box {
  text-align: center;
  padding: 5%;
}
.icon {
  color: #bbada1;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #f7ede2;
}

/* testimonials */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #e7d7cb;
}

.carousel-item {
  padding: 7% 15%;
}

.testimonial-image {
  width: 30%;
  border-radius: 50%;
  margin: 10px;
}

/* press */
#press {
  background-color: #e7d7cb;
  text-align: center;
}
.press-logo {
width: 10%;
margin: 20px 20px 50px;
}
 
/* pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-header {
  color: black;
}

.pricing-column {
  padding: 3% 2%;
}

/* call to action section CTA */

#cta {
  background-color: #f7ede2;
  color: #7d6757;
  padding: 7% 15%;
  text-align: center;
}
.cta-heading {
  font-family: 'quicksand';
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

/* footer */
#footer {
  padding: 7% 15;
  text-align: center;
}
.social-icon {
  margin: 20px 10px;
}

/* media query section */
@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}
