

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #aabb81;
  font-family: 'Comfortaa', sans-serif;
}
input {
  width: 10%;
}

h1 {
  margin: 30px;
  font-size: 2rem;
  font-weight: 500;
  color: #ffdfdf;
}

h2, h3 {
  margin: 30px;
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
}

p {
  color: #fdff71;
}

img {
  width: 80%;
  background-color: #eccc97;
  border-radius: 30%;
  mix-blend-mode: hard-light;
}


.myBtn {
  margin: 30px;
  color: #aabb81;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'comfortaa', sans-serif;
}

input {
  background-color: #ffffff;
  border-radius: 10px;
  color: #aabb81;
  border: 0px;
  padding: 4px;
  text-align: center;

}